<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>eComNation developer docs.</title>

    <style>
      .highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #f8f8f2;
  background-color: #272822;
}
.highlight .err {
  color: #151515;
  background-color: #ac4142;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #505050;
}
.highlight .cp {
  color: #f4bf75;
}
.highlight .nt {
  color: #f4bf75;
}
.highlight .o, .highlight .ow {
  color: #d0d0d0;
}
.highlight .p, .highlight .pi {
  color: #d0d0d0;
}
.highlight .gi {
  color: #90a959;
}
.highlight .gd {
  color: #ac4142;
}
.highlight .gh {
  color: #6a9fb5;
  background-color: #151515;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #aa759f;
}
.highlight .kc {
  color: #d28445;
}
.highlight .kt {
  color: #d28445;
}
.highlight .kd {
  color: #d28445;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #90a959;
}
.highlight .sr {
  color: #75b5aa;
}
.highlight .si {
  color: #8f5536;
}
.highlight .se {
  color: #8f5536;
}
.highlight .nn {
  color: #f4bf75;
}
.highlight .nc {
  color: #f4bf75;
}
.highlight .no {
  color: #f4bf75;
}
.highlight .na {
  color: #6a9fb5;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #90a959;
}
.highlight .ss {
  color: #90a959;
}
    </style>
    <link href="stylesheets/screen.css" rel="stylesheet" media="screen" />
    <link href="stylesheets/print.css" rel="stylesheet" media="print" />
      <script src="javascripts/all.js"></script>
  </head>

  <body class="index" data-languages="[&quot;liquid&quot;]">
    <a href="#" id="nav-button">
      <span>
        NAV
        <img src="images/navbar.png" />
      </span>
    </a>
    <div class="tocify-wrapper">
      <img src="images/logo.png" />
        <div class="lang-selector">
              <a href="#" data-language-name="liquid">liquid</a>
        </div>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <div id="toc">
      </div>
        <ul class="toc-footer">
            <li><a href='#'>Sign Up for a Developer Key</a></li>
            <li><a href='https://github.com/tripit/slate'>Documentation Powered by Slate</a></li>
        </ul>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <h1 id="authentication">Authentication</h1>

<blockquote>
<p>To authorize, use this code:</p>
</blockquote>
<pre class="highlight liquid"><code><span class="p">{{</span><span class="nv">product</span><span class="p">.</span><span class="nv">name</span><span class="p">}}</span>

<span class="p">{%</span><span class="w"> </span><span class="nt">for</span><span class="w"> </span>product<span class="w"> </span>in<span class="w"> </span>collection.products<span class="w"> </span><span class="p">%}</span>
  <span class="p">{{</span><span class="w"> </span><span class="nv">product</span><span class="p">.</span><span class="nv">title</span><span class="w"> </span><span class="p">}}</span>
<span class="p">{%</span><span class="w"> </span><span class="nt">endfor</span><span class="w"> </span><span class="p">%}</span>
</code></pre>
<pre class="highlight python"><code><span class="kn">import</span> <span class="nn">kittn</span>

<span class="n">api</span> <span class="o">=</span> <span class="n">kittn</span><span class="o">.</span><span class="n">authorize</span><span class="p">(</span><span class="s">'meowmeowmeow'</span><span class="p">)</span>
</code></pre>
<pre class="highlight shell"><code><span class="c"># With shell, you can just pass the correct header with each request</span>
curl <span class="s2">"api_endpoint_here"</span>
  -H <span class="s2">"Authorization: meowmeowmeow"</span>
</code></pre>
<pre class="highlight javascript"><code><span class="kr">const</span> <span class="nx">kittn</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'kittn'</span><span class="p">);</span>

<span class="kd">let</span> <span class="nx">api</span> <span class="o">=</span> <span class="nx">kittn</span><span class="p">.</span><span class="nx">authorize</span><span class="p">(</span><span class="s1">'meowmeowmeow'</span><span class="p">);</span>
</code></pre>

<blockquote>
<p>Make sure to replace <code class="prettyprint">meowmeowmeow</code> with your API key.</p>
</blockquote>

<p>Kittn uses API keys to allow access to the API. You can register a new Kittn API key at our <a href="http://example.com/developers">developer portal</a>.</p>

<p>Kittn expects for the API key to be included in all API requests to the server in a header that looks like the following:</p>

<p><code class="prettyprint">Authorization: meowmeowmeow</code></p>

<aside class="notice">
You must replace <code>meowmeowmeow</code> with your personal API key.
</aside>

<h1 id="kittens">Kittens</h1>

<h2 id="get-all-kittens">Get All Kittens</h2>
<pre class="highlight ruby"><code><span class="nb">require</span> <span class="s1">'kittn'</span>

<span class="n">api</span> <span class="o">=</span> <span class="no">Kittn</span><span class="o">::</span><span class="no">APIClient</span><span class="p">.</span><span class="nf">authorize!</span><span class="p">(</span><span class="s1">'meowmeowmeow'</span><span class="p">)</span>
<span class="n">api</span><span class="p">.</span><span class="nf">kittens</span><span class="p">.</span><span class="nf">get</span>
</code></pre>
<pre class="highlight python"><code><span class="kn">import</span> <span class="nn">kittn</span>

<span class="n">api</span> <span class="o">=</span> <span class="n">kittn</span><span class="o">.</span><span class="n">authorize</span><span class="p">(</span><span class="s">'meowmeowmeow'</span><span class="p">)</span>
<span class="n">api</span><span class="o">.</span><span class="n">kittens</span><span class="o">.</span><span class="n">get</span><span class="p">()</span>
</code></pre>
<pre class="highlight shell"><code>curl <span class="s2">"http://example.com/api/kittens"</span>
  -H <span class="s2">"Authorization: meowmeowmeow"</span>
</code></pre>
<pre class="highlight javascript"><code><span class="kr">const</span> <span class="nx">kittn</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'kittn'</span><span class="p">);</span>

<span class="kd">let</span> <span class="nx">api</span> <span class="o">=</span> <span class="nx">kittn</span><span class="p">.</span><span class="nx">authorize</span><span class="p">(</span><span class="s1">'meowmeowmeow'</span><span class="p">);</span>
<span class="kd">let</span> <span class="nx">kittens</span> <span class="o">=</span> <span class="nx">api</span><span class="p">.</span><span class="nx">kittens</span><span class="p">.</span><span class="nx">get</span><span class="p">();</span>
</code></pre>

<blockquote>
<p>The above command returns JSON structured like this:</p>
</blockquote>
<pre class="highlight json"><code><span class="p">[</span><span class="w">
  </span><span class="p">{</span><span class="w">
    </span><span class="nt">"id"</span><span class="p">:</span><span class="w"> </span><span class="mi">1</span><span class="p">,</span><span class="w">
    </span><span class="nt">"name"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Fluffums"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"breed"</span><span class="p">:</span><span class="w"> </span><span class="s2">"calico"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"fluffiness"</span><span class="p">:</span><span class="w"> </span><span class="mi">6</span><span class="p">,</span><span class="w">
    </span><span class="nt">"cuteness"</span><span class="p">:</span><span class="w"> </span><span class="mi">7</span><span class="w">
  </span><span class="p">},</span><span class="w">
  </span><span class="p">{</span><span class="w">
    </span><span class="nt">"id"</span><span class="p">:</span><span class="w"> </span><span class="mi">2</span><span class="p">,</span><span class="w">
    </span><span class="nt">"name"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Max"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"breed"</span><span class="p">:</span><span class="w"> </span><span class="s2">"unknown"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"fluffiness"</span><span class="p">:</span><span class="w"> </span><span class="mi">5</span><span class="p">,</span><span class="w">
    </span><span class="nt">"cuteness"</span><span class="p">:</span><span class="w"> </span><span class="mi">10</span><span class="w">
  </span><span class="p">}</span><span class="w">
</span><span class="p">]</span><span class="w">
</span></code></pre>

<p>This endpoint retrieves all kittens.</p>

<h3 id="http-request">HTTP Request</h3>

<p><code class="prettyprint">GET http://example.com/api/kittens</code></p>

<h3 id="query-parameters">Query Parameters</h3>

<table><thead>
<tr>
<th>Parameter</th>
<th>Default</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>include_cats</td>
<td>false</td>
<td>If set to true, the result will also include cats.</td>
</tr>
<tr>
<td>available</td>
<td>true</td>
<td>If set to false, the result will include kittens that have already been adopted.</td>
</tr>
</tbody></table>

<aside class="success">
Remember — a happy kitten is an authenticated kitten!
</aside>

<h2 id="get-a-specific-kitten">Get a Specific Kitten</h2>
<pre class="highlight ruby"><code><span class="nb">require</span> <span class="s1">'kittn'</span>

<span class="n">api</span> <span class="o">=</span> <span class="no">Kittn</span><span class="o">::</span><span class="no">APIClient</span><span class="p">.</span><span class="nf">authorize!</span><span class="p">(</span><span class="s1">'meowmeowmeow'</span><span class="p">)</span>
<span class="n">api</span><span class="p">.</span><span class="nf">kittens</span><span class="p">.</span><span class="nf">get</span><span class="p">(</span><span class="mi">2</span><span class="p">)</span>
</code></pre>
<pre class="highlight python"><code><span class="kn">import</span> <span class="nn">kittn</span>

<span class="n">api</span> <span class="o">=</span> <span class="n">kittn</span><span class="o">.</span><span class="n">authorize</span><span class="p">(</span><span class="s">'meowmeowmeow'</span><span class="p">)</span>
<span class="n">api</span><span class="o">.</span><span class="n">kittens</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="mi">2</span><span class="p">)</span>
</code></pre>
<pre class="highlight shell"><code>curl <span class="s2">"http://example.com/api/kittens/2"</span>
  -H <span class="s2">"Authorization: meowmeowmeow"</span>
</code></pre>
<pre class="highlight javascript"><code><span class="kr">const</span> <span class="nx">kittn</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'kittn'</span><span class="p">);</span>

<span class="kd">let</span> <span class="nx">api</span> <span class="o">=</span> <span class="nx">kittn</span><span class="p">.</span><span class="nx">authorize</span><span class="p">(</span><span class="s1">'meowmeowmeow'</span><span class="p">);</span>
<span class="kd">let</span> <span class="nx">max</span> <span class="o">=</span> <span class="nx">api</span><span class="p">.</span><span class="nx">kittens</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="mi">2</span><span class="p">);</span>
</code></pre>

<blockquote>
<p>The above command returns JSON structured like this:</p>
</blockquote>
<pre class="highlight json"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"id"</span><span class="p">:</span><span class="w"> </span><span class="mi">2</span><span class="p">,</span><span class="w">
  </span><span class="nt">"name"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Max"</span><span class="p">,</span><span class="w">
  </span><span class="nt">"breed"</span><span class="p">:</span><span class="w"> </span><span class="s2">"unknown"</span><span class="p">,</span><span class="w">
  </span><span class="nt">"fluffiness"</span><span class="p">:</span><span class="w"> </span><span class="mi">5</span><span class="p">,</span><span class="w">
  </span><span class="nt">"cuteness"</span><span class="p">:</span><span class="w"> </span><span class="mi">10</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>

<p>This endpoint retrieves a specific kitten.</p>

<aside class="warning">Inside HTML code blocks like this one, you can&rsquo;t use Markdown, so use <code>&lt;code&gt;</code> blocks to denote code.</aside>

<h3 id="http-request">HTTP Request</h3>

<p><code class="prettyprint">GET http://example.com/kittens/&lt;ID&gt;</code></p>

<h3 id="url-parameters">URL Parameters</h3>

<table><thead>
<tr>
<th>Parameter</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>ID</td>
<td>The ID of the kitten to retrieve</td>
</tr>
</tbody></table>

          <h1 id="1-the-anatomy-of-a-theme">1. The Anatomy of a Theme</h1>

<p>Every 39shops theme consist of certain basic elements which work together to
show up the online store. These elements are:</p>

<ul>
<li>Templates</li>
<li>Page Parts</li>
<li>Stylesheets</li>
<li>JavaScript</li>
<li>Images</li>
</ul>

<h2 id="1-1-templates">1.1. Templates</h2>

<p>Templates are specialized HTML pages with *.liquid extension to parse dynamic
tags supported by 39shops. 39shops provides a set of standard templates
based on the functions each of them perform. Here are the templates provided
with every 39shops theme:</p>

<ul>
<li>layout</li>
<li>home</li>
<li>catalogue</li>
<li>product detail</li>
<li>page</li>
<li>cart</li>
</ul>

<h3 id="1-1-1-layout">1.1.1. Layout</h3>

<p>The layout holds the most common elements of the website. It behaves like a
standard template which gets applied to each page of your online store. Layout
consists of common elements of your design such as - page background,
header and footer, or any other element that will stay consistently visible across
all the pages of your online store. Elements once included into the Layout
template will not be required to be included in any other template. Such
elements will be automatically displayed across all pages of your online store.</p>

<h3 id="1-1-2-home">1.1.2 Home</h3>

<p>Customize your home page using this template. Anything that you want to
display specifically on your home page can be included in this template. You can
include elements such as Images, JavaScript, featured products, featured
categories etc.</p>

<h3 id="1-1-3-catalogue">1.1.3. Catalogue</h3>

<p>You can customize your product catalogue using this template. It includes your
products and categories list, featured products, featured categories, pagination
as well as any additional elements such as side navigation etc.</p>

<h3 id="1-1-4-product-detail">1.1.4. Product detail</h3>

<p>Using this template you can customize the design of product detail page. This
page will be accessible to site visitors when they click on a product to view more
details. This page will display dynamic data such as product title, product
description, alternate photos, produce price etc.</p>

<h3 id="1-1-5-page">1.1.5. Page</h3>

<p>Using this template you can customize the design of CMS based pages also
called ‘custom pages’. It is used to display all the content pages that you added
from the ‘Pages’ section of your store administration.</p>

<h3 id="1-1-6-cart">1.1.6. Cart</h3>

<p>Using this template you can customize the design of your shopping cart page. </p>

<h2 id="1-2-page-parts">1.2. Page Parts</h2>

<p>Pages parts are small HTML elements or snippets that can be included in any
Template. Page parts are very useful if you want to display common elements in
certain areas of your online store. For example, if you want to include a common
promotional banner in all pages, you will create it a page part. Then you will
simply insert the page part in all templates pages. In this way, if you need to
change the promotional banner, you will only need to modify the page part.</p>

<h2 id="1-3-stylesheets">1.3. Stylesheets</h2>

<p>Just like any other website, you can attach Stylesheet to your templates. In your
39shops theme, Stylesheets are linked with the ‘Layout’ template.</p>

<h2 id="1-4-javascript">1.4. JavaScript</h2>

<p>JavaScript can be also included in the same way as Stylesheets with the ‘Layout’
template of your theme. 39Shops themes support all types of JavaScript
including Jquery.</p>

<h2 id="1-5-images">1.5. Images</h2>

<p>A default images folder is provided with every 39shops theme. It stores all types
of graphics such as background images, bullets, icons, banners etc. associated
with your theme.</p>

<aside class="notice">
Note: The Images folder associated with your theme not store product photos or any files
related to the content of your online store. Such files are stored in the ‘File Manager’.
</aside>

          <h1 id="2-working-with-a-39shops-theme">2. Working with a 39shops Theme</h1>

<p>Every 39shops store-front comes with a pre-installed theme. The quickest way
to create a new theme is to modify the pre-installed theme and rename it with
your own. To do this, log-in to your store administration and visit My Themes
sub-menu under the Design &amp; Navigation tab.</p>

<h2 id="2-1-online-theme-editor">2.1. Online theme editor</h2>

<p>The online theme editor has following major sections:</p>

<table><thead>
<tr>
<th>Name</th>
<th>Desciption</th>
</tr>
</thead><tbody>
<tr>
<td>Templates</td>
<td>All liquid templates associated with your theme are available for editing in this section</td>
</tr>
<tr>
<td>Page parts</td>
<td>By default side_nav is provided, you can add more page parts as needed by clicking on the add page part icon.</td>
</tr>
<tr>
<td>Stylesheets</td>
<td>A default stylesheet default.css is available with the theme. You can modify this stylesheet or add more Stylesheets by clicking on the add new stylesheet icon.</td>
</tr>
<tr>
<td>JavaScript</td>
<td>A blank default.js is provided with the theme. You can added more by clicking on add new javascript icon.</td>
</tr>
<tr>
<td>Images</td>
<td>Stores all graphics, background, icons etc. related to a theme</td>
</tr>
<tr>
<td>Preferences</td>
<td>Stores product photo resizing preferences related to your theme</td>
</tr>
</tbody></table>

<h3 id="2-1-1-modifying-theme-element">2.1.1. Modifying theme element</h3>

<p>Once you click on a theme element to modify, you will see that rest of the
elements are availably towards the right side bar. This allows you to switch to
various theme elements quickly without going back to the main page.</p>

<h3 id="2-1-2-previewing-changes">2.1.2. Previewing changes</h3>

<p>As you modify your theme elements, you can open your store url in another
window and refresh it to view the updated changes.</p>

<aside class="notice">
Important Note:
Sometimes the changes you make may not be visible instantly. It is advisable to refresh your
browser and remove the cache if do not see the changes.
For Windows user: press ctrl+f5 to allow browser to bypass local cache and request the design
elements from the server.
</aside>

          <h1 id="errors">Errors</h1>

<aside class="notice">This error section is stored in a separate file in `includes/_errors.md`. Slate allows you to optionally separate out your docs into many files&hellip;just save them to the `includes` folder and add them to the top of your `index.md`&rsquo;s frontmatter. Files are included in the order listed.</aside>

<p>The Kittn API uses the following error codes:</p>

<table><thead>
<tr>
<th>Error Code</th>
<th>Meaning</th>
</tr>
</thead><tbody>
<tr>
<td>400</td>
<td>Bad Request</td>
</tr>
<tr>
<td>401</td>
<td>Unauthorized &ndash; Your API key is wrong</td>
</tr>
<tr>
<td>403</td>
<td>Forbidden &ndash; The kitten requested is hidden for administrators only</td>
</tr>
<tr>
<td>404</td>
<td>Not Found &ndash; The specified kitten could not be found</td>
</tr>
<tr>
<td>405</td>
<td>Method Not Allowed &ndash; You tried to access a kitten with an invalid method</td>
</tr>
<tr>
<td>406</td>
<td>Not Acceptable &ndash; You requested a format that isn&rsquo;t json</td>
</tr>
<tr>
<td>410</td>
<td>Gone &ndash; The kitten requested has been removed from our servers</td>
</tr>
<tr>
<td>418</td>
<td>I&rsquo;m a teapot</td>
</tr>
<tr>
<td>429</td>
<td>Too Many Requests &ndash; You&rsquo;re requesting too many kittens! Slow down!</td>
</tr>
<tr>
<td>500</td>
<td>Internal Server Error &ndash; We had a problem with our server. Try again later.</td>
</tr>
</tbody></table>

          <h1 id="3-tags">3. Tags</h1>

<h2 id="3-1-tag-basics">3.1. Tag Basics</h2>

<p>39shops has two types of special operators used to render dynamic content in the HTML templates. They are <strong>Variables</strong> and <strong>Blocks</strong>.</p>

<h3 id="3-1-1-variables">3.1.1. Variables</h3>

<p>Variables are used to insert dynamic data like product title, product price etc.</p>

<blockquote>
<p>Here is an example of variable:</p>
</blockquote>
<pre class="highlight liquid"><code>&lt;html&gt; 
&lt;body&gt; 
  &lt;p&gt;<span class="p">{{</span><span class="w"> </span><span class="nv">product</span><span class="p">.</span><span class="nv">name</span><span class="w"> </span><span class="p">}}</span>&lt;/p&gt; 
&lt;/body&gt; 
&lt;/html&gt; 
</code></pre>

<h3 id="3-1-2-blocks">3.1.2. Blocks</h3>

<p>Blocks are either used to render a block of HTML for set of data (example: product listing), or to conditionally render a block of HTML.</p>

<blockquote>
<p>Here is an example of a block:</p>
</blockquote>
<pre class="highlight liquid"><code>&lt;html&gt; 
&lt;body&gt; 
<span class="p">{%</span><span class="w"> </span><span class="nt">for</span><span class="w"> </span>product<span class="w"> </span>in<span class="w"> </span>store.paginated_products<span class="w"> </span><span class="p">%}</span>
  &lt;li&gt; 
           <span class="p">{{</span><span class="w"> </span><span class="nv">product</span><span class="p">.</span><span class="nv">name</span><span class="w"> </span><span class="p">}}</span>
  &lt;/li&gt; 
<span class="p">{%</span><span class="w"> </span><span class="nt">endfor</span><span class="w"> </span><span class="p">%}</span> 
&lt;/body&gt; 
&lt;/html&gt;
</code></pre>

<p>In the example, the block starts with the tag <strong>{% for product in store.paginated_products %}</strong> and ends with <strong>{% endfor %}</strong>
In between the bocks  we have the variable to display product title. The <strong>{{product.name}}</strong> variable will be looped with <em>li</em> HTML tag to display a list of ‘product title’.</p>

<aside class="notice">
Note: Block always begins and ends with a single curly bracket and a percentage sign ‘{% &hellip; %}’ while a variable begins and end with double curly brackets ‘{{ &hellip; }}‘
</aside>

<h3 id="3-1-3-types-of-blocks">3.1.3 Types of Blocks</h3>

<p>Mainly, there are two types of blocks supported by 39shops:</p>

<p>The <em>&lsquo;For&rsquo;</em> block:</p>

<p>{% for &hellip; in &hellip; %}
&hellip;
{% endfor %}</p>

<p>This block is used when certain list of items are to be displayed. For example. product list, category list, list of navigation links etc. You can use this block only with dynamic tags.</p>

<p>The <em>&#39;If&rsquo;</em> block:</p>

<p>This block is used when certain data or tag should be displayed conditionally. You can use this tag block anywhere, either with static HTML elements or dynamic tags.</p>

<p>{% if &hellip;.. %}
&hellip;&hellip;
{% endif %}</p>

<blockquote>
<p>Here is an example of the &#39;If&rsquo; block</p>
</blockquote>
<pre class="highlight liquid"><code>&lt;html&gt;
&lt;head&gt;
.
&lt;/head&gt;
&lt;body&gt;
<span class="p">{%</span><span class="w"> </span><span class="kr">if</span><span class="w"> </span><span class="nv">store</span><span class="p">.</span><span class="nv">payment_enabled</span><span class="err">?</span><span class="w"> </span><span class="p">%}</span>
&lt;button value="Checkout" &gt;Checkout&lt;/button&gt;
<span class="p">{%</span><span class="w"> </span><span class="kr">endif</span><span class="w"> </span><span class="p">%}</span>
&lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p>In the example, the <strong>{% if store.payment_enabled? %}</strong> condition checks if any payment option is enabled for the store. If a payment option is enabled, the Checkout button should be displayed otherwise it should not displayed.</p>

<h2 id="3-2-using-stylesheets-and-javascript">3.2. Using Stylesheets and JavaScript</h2>

<p>Stylesheets and JavaScripts are the fundamental building blocks of any design. You can insert Stylesheets and JavaScripts into your 39shops theme within the <em>head</em> tag of your &#39;Layout&rsquo;. Here are the tags:</p>

<blockquote>
<p><strong>For Stylesheet:</strong>
<code class="prettyprint">liquid
&lt;link href=&quot;{{ current_theme.stylesheet_path }}/stylesheet-file.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;/&gt;
</code></p>

<p><strong>For JavaScript:</strong>
<code class="prettyprint">liquid
&lt;script src=&quot;{{ current_theme.javascript_path }}/javascript-file.js&quot; type=&quot;text/Javascript&quot;&gt;&lt;/script&gt;
</code></p>

<p>Here is an example:</p>
</blockquote>
<pre class="highlight liquid"><code>&lt;head&gt;
&lt;title&gt;My pet store&lt;/title&gt;
&lt;link href="<span class="p">{{</span><span class="w"> </span><span class="nv">current_theme</span><span class="p">.</span><span class="nv">stylesheet_path</span><span class="w"> </span><span class="p">}}</span>/default.css" rel="stylesheet" type="text/css"/&gt;
&lt;link href="<span class="p">{{</span><span class="w"> </span><span class="nv">current_theme</span><span class="p">.</span><span class="nv">stylesheet_path</span><span class="w"> </span><span class="p">}}</span>/orbit.css" rel="stylesheet" type="text/css"/&gt;
&lt;script src="<span class="p">{{</span><span class="w"> </span><span class="nv">current_theme</span><span class="p">.</span><span class="nv">javascript_path</span><span class="w"> </span><span class="p">}}</span>/default.js" type="text/Javascript"&gt;&lt;/script&gt;
&lt;script src="<span class="p">{{</span><span class="w"> </span><span class="nv">current_theme</span><span class="p">.</span><span class="nv">javascript_path</span><span class="w"> </span><span class="p">}}</span>/product_hover.js" type="text/Javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
...
&lt;/body&gt;
</code></pre>

<p>As shown in the example, the tags to insert Stylsheet and JavaScript are almost similar. The first part of the tag &ldquo;current_theme&rdquo; finds out the current theme and the second part <strong>.stylesheet_path</strong> and <strong>.javascript_path</strong> finds out the location of the particular stylesheet or Javascript file. This tag is followed by a forward slash &ldquo;/&rdquo; and then the actual stylesheet or javascript file name. Likewise, you can attach multiple JavaScript and Stylesheets with your theme.</p>

<h2 id="3-3-inserting-images">3.3. Inserting Images</h2>

<p>You can insert image to any template page including the &#39;Layout&rsquo; template. In a normal website you use the <em>&#39;img&rsquo;</em> HTML tag to insert images. In case of 39shop, we also use the &#39;img&rsquo; tag but the path to image is specified using this dynamic tag: <strong>{{ current_theme.image_path }}</strong>.</p>

<blockquote>
<p>Let me show you the usage with an example:</p>
</blockquote>
<pre class="highlight liquid"><code>&lt;img src="<span class="p">{{</span><span class="w"> </span><span class="nv">current_theme</span><span class="p">.</span><span class="nv">image_path</span><span class="w"> </span><span class="p">}}</span>/american-express.png" alt=" logo"/&gt;
</code></pre>

<p>In this example, &#39;american-express.png&rsquo; is the image file stored in the &#39;images&rsquo; folder associated with the theme. The tag <strong>{{ current_theme.image_path }}</strong> is used inside the &#39;img src=&ldquo;..&rdquo;&rsquo; Attribute followed by a forward slash &rsquo;/&rsquo; and then the name of the image file to be displayed.</p>

<h2 id="3-4-inserting-page-parts">3.4. Inserting Page Parts</h2>

<p>As explained earlier, you can create and use &#39;Pages Parts&rsquo; into any template of your 39shops theme. Suppose you created a page part called &#39;side_navigation&rsquo; and now you want to display it in your &#39;Catalog&rsquo; template. Open the &#39;Catalogue&rsquo; template and move your cursor to the HTML tag where you want to insert the page part. Use this tag: <strong>{% include &#39;side_navigation&rsquo; %}</strong>. That&rsquo;s it, the page part &#39;side_navigation&rsquo; is now included into the catalogue page and category navigation menu will be displayed in this page.</p>

<blockquote>
<p>Here is an example:</p>
</blockquote>
<pre class="highlight liquid"><code>&lt;html&gt;
&lt;body&gt;
&lt;div class="content-left"&gt;
...
&lt;/div&gt;
&lt;!-- Start right side bar --&gt;
&lt;div class="content-right"&gt;

<span class="p">{%</span><span class="w"> </span><span class="nt">include</span><span class="w"> </span><span class="s2">"side_navigation"</span><span class="w"> </span><span class="p">%}</span>

&lt;/div&gt;

&lt;!-- End right side bar --&gt;
&lt;body&gt;
&lt;/html&gt;
</code></pre>

<p>The convention to insert a Page Part into any template is :
<strong>{% include &ldquo;name_of_ page_part&rdquo; %}</strong></p>

<h2 id="3-5-rendering-39-layout-39-in-other-templates">3.5. Rendering &#39;Layout&rsquo; in other templates</h2>

<p>Earlier we discussed that the &#39;Layout&rsquo; is the base template which contain common design elements to be displayed store-wide; for example, header and footer. To allow rest of the templates, use the &#39;Layout&rsquo; template, we need to put the following tag into the &#39;Layout&rsquo; template.
<strong>{{ content_for_layout }}</strong></p>

<blockquote>
<p>Here is an example of a typical &#39;Layout&rsquo; template:</p>
</blockquote>
<pre class="highlight liquid"><code>&lt;html&gt;
&lt;head&gt;
...
&lt;/head&gt;
&lt;body&gt;
&lt;!-- Start header --&gt; 
&lt;div class="header"&gt;
...
&lt;/div&gt;
&lt;/!-- End header --&gt;
<span class="p">{{</span><span class="w"> </span><span class="nv">content_for_layout</span><span class="w"> </span><span class="p">}}</span>
&lt;!-- Start footer ---&gt; &lt;div class="footer"&gt;
...
&lt;/div&gt;
&lt;!-- End footer--&gt;
&lt;body&gt;
&lt;/html&gt;
</code></pre>

<p>In the example, the <em>&#39;head&rsquo;</em> section has the Stylesheet and JavaScript links. Then in the <em>&#39;body&rsquo;</em> tag, only header and footer sections are rendered. Between the header and footer, we have included <strong>{{ content_for_layout }}</strong>.
This tag does all the job for rest of the template pages. When a template page loads, it looks for the layout and in the layout if <strong>{{ content_for_layout }}</strong>. tag is present, then the template page automatically take up the header and footer from the &#39;Layout&rsquo; and displays the rest of the content specific to that page.</p>

      </div>
      <div class="dark-box">
          <div class="lang-selector">
                <a href="#" data-language-name="liquid">liquid</a>
          </div>
      </div>
    </div>
  </body>
</html>
